@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Realidad Aumentada Museo Nacional Historia Natural";
}

<div class="row">
    <div class="col-lg-12 headerIndex"></div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body bordeCard"  style="text-align:center;">
                <div class="float-chart-container">
                    <div class="mb-3 text-center bordeCaja">
                        <img src="~/images/LogoMuseo.jpeg" class="img-thumbnail rounded mx-auto d-block" alt="..." style="max-width: 50%;">
                    </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <h1 class="text-center"> RECUPERACIÓN DE CUENTA</h1>
                            <p class="text-center"> Por favor, revice su correo electrónico para recuperar su contraseña.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>