@page
@model ChangePasswordModel
@{ ViewData["Title"] = "Cambiar Contraseña";
                Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }

<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body bordeCard">
                <div class="float-chart-container">
                    <form id="change-password-form" method="post">
                        <div class="mb-3">
                            <h1 class="text-center"> Cambiar Contraseña</h1>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <input type="password" asp-for="Input.OldPassword" class="form-control" placeholder="Contraseña Actual">
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <input type="password" asp-for="Input.NewPassword" class="form-control" placeholder="Nueva Contraseña">
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar Nueva Contraseña">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3 text-right">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
